.center {
  text-align: center;
  display: flex;
}

input {
  border-radius: 7px;
}

textarea {
  border-radius: 5px;
  resize: none !important;
}

textarea:focus,
input:focus {
  outline: none;
  background-color: #ededed;
}

.badge {
  border-radius: 50%;
}

.logs {
  border-radius: 5px;
}

.logs_header {
  font-weight: 500;
  border-bottom: gray 1px solid;
}

.logs_footer {
  font-size: 0.9em;
}

footer {
  text-align: center;
  text-decoration-line: line-through;
}

nav {
  display: flex;
  color: white;
  background-color: #323232;
  font-size: 1.3em;
  font-weight: 500;
  border-bottom: #209cee 5px solid;
}

nav li a {
  color: white;
}

nav li a:hover {
  color: #209cee;
}

.dark {
  color: white;
  background-color: #2a2a2a;
}

nav li .dropdown {
  font-weight: 600;
}
