.center {
  text-align: center;
  display: flex;
}

#root {
  background-color: #2a2a2a;
  color: white;
}

.container {
  border-bottom: #209cee 1px solid;
}

input {
  border-radius: 7px;
}

textarea {
  border-radius: 5px;
  resize: none !important;
}

textarea:focus,
input:focus {
  outline: none;
  background-color: white;
}

.badge {
  border-radius: 50%;
}

.comments {
  border-radius: 5px;
  border-left: #209cee 5px solid;
}

.logs {
  border-radius: 5px;
}

.logs-header {
  font-weight: 500;
  border-bottom: white 1px solid;
}

.logs-footer {
  font-size: 0.9em;
}

.group-name {
  font-size: 1.2em;
  font-weight: 500;
}

footer {
  text-align: center;
  text-decoration-line: line-through;
  background-color: #3b3b3b;
  border-top: white thin so;
}

nav {
  display: flex;
  color: white;
  background-color: #3b3b3b;
  font-size: 1.3em;
  font-weight: 500;
  border-bottom: #209cee 5px solid;
}

nav li a {
  color: white;
}

nav li a:hover {
  color: #209cee;
}

.dark {
  color: white;
  background-color: #2a2a2a;
}

nav li .dropdown {
  font-weight: 600;
}
